<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css" /></link>
		<script src="/static/index.js"></script>
	</head>
	<body>
		<ul class="topnav">
			<li><a class="active" href="/">Home</a></li>
		</ul>
		<div class="content">
			<div>
				<h2>Details</h2>
			</div>

			<label for="recTypes">Record type</label><br>
			<select disabled name="recordType" id="record">
				<option value="expense" <%= data.recordType ==='expense' ? 'selected' : '' %>>Expense</option>
				<option value="income" <%= data.recordType ==='income' ? 'selected' : '' %>>Income</option>
			</select>
			<br>
			<div class="parallel">
				<label for="amount">Amount</label>
				<input disabled type="text" id="amount" name="amount" value="<%= data.amount %>">
			</div>
			<div class="parallel">
				<label for="currency">Currency</label>
				<select disabled name="currency" id="currency">
					<option value="" <%= data.currency ==='' ? 'selected' : '' %>></option>
					<option value="EUR" <%= data.currency ==='EUR' ? 'selected' : '' %>>EUR</option>
					<option value="GBP" <%= data.currency ==='GBP' ? 'selected' : '' %>>GBP</option>
					<option value="USD" <%= data.currency ==='USD' ? 'selected' : '' %>>USD</option>
					<option value="CAD" <%= data.currency ==='CAD' ? 'selected' : '' %>>CAD</option>
					<option value="AUD" <%= data.currency ==='AUD' ? 'selected' : '' %>>AUD</option>
				</select>
			</div>
			<br>
			<label for="description">Description</label>
			<br>
			<textarea disabled type="text" id="description" name="description"><%= data.description %></textarea>
			<br>
			<div>
				<label>Record date</label>
				<br>
				<textarea disabled type="date" id="recordDate" name="recordDate"><%= data.recordDate %></textarea>
			</div>
			<br>
			<form method="GET" action="/records/<%=data._id%>/edit">
				<button type="submit" name="submit" class="btn"> Edit </button>
			</form>
			<br>
			<script>
				function confirmDelete() {
					if (confirm("Are you sure you want to delete this record?")) {
						document.getElementById("submitDelete").click()
					} 
				}
			</script>
			<button onclick="console.log('lol') & confirmDelete()">Delete</button>
			<form method="POST" action="/records/<%=data._id%>?_method=DELETE" onsubmit="setTimeout(function(){window.location.reload();},30);">
				<button hidden id="submitDelete" type="submit"></button>
			</form>
		</div>
	</body>
</html>