<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link>
	</head>
	<body>
		<ul class="topnav">
			<li><a class="active" href="/">Home</a></li>
		</ul>
		<div class="content">
			<div>
				<h2>EDIT</h2>
			</div>

			<form method="POST" action="/records/<%= data._id %>?_method=PATCH">
				<label for="recTypes">Record type</label><br>
				<select name="recordType" id="record">
					<option value="expense" <%= data.recordType ==='expense' ? 'selected' : '' %>>Expense</option>
					<option value="income" <%= data.recordType ==='income' ? 'selected' : '' %>>Income</option>
				</select>
				<br>
				<div class="parallel">
					<label for="amount">Amount</label>
					<input type="text" id="amount" name="amount" value="<%= data.amount %>">
				</div>
				<div class="parallel">
					<label for="currency">Currency</label>
					<select name="currency" id="currency">
						<option value="" <%= data.currency ==='' ? 'selected' : '' %>></option>
						<option value="EUR" <%= data.currency ==='EUR' ? 'selected' : '' %>>EUR</option>
						<option value="GBP" <%= data.currency ==='GBP' ? 'selected' : '' %>>GBP</option>
						<option value="USD" <%= data.currency ==='USD' ? 'selected' : '' %>>USD</option>
						<option value="CAD" <%= data.currency ==='CAD' ? 'selected' : '' %>>CAD</option>
						<option value="AUD" <%= data.currency ==='AUD' ? 'selected' : '' %>>AUD</option>
					</select>
				</div>
				<br>
				<label for="description">Description</label>
				<br>
				<textarea type="text" id="description" name="description"><%= data.description %></textarea>
				<br>
				<div>
					<label>Record date</label>
					<br>
					<textarea type="date" id="recordDate" name="recordDate"><%= data.recordDate %></textarea>
				</div>
				<br>
				<div>
					<input type="submit" value="Save">
				</div>
			</form>
			<div>
				<form method="GET" action="/records/<%=data._id%>/details">
					<button type="submit">Cancel</button>
				</form>
			</div>
		</div>
	</body>
</html>